@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* src/index.css veya src/App.css */
  /* Yumuşak scroll */
  html {
    scroll-behavior: smooth;
    overscroll-behavior: contain; /* Aşırı kaydırmayı engelle */
    -webkit-overflow-scrolling: touch; /* iOS için doğal kaydırma */
  }

  /* Scrollbar'ı özelleştirme */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #8c7a65;
  }

  ::-webkit-scrollbar-thumb {
    background: #bfaa90;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #bfaa90;
  }
  body {
    overflow-x: hidden;
    touch-action: manipulation; /* Dokunma hareketlerini optimize et */
  }
}
