@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Scroll davranışını optimize et */
  html {
    scroll-behavior: smooth; /* Yumuşak kaydırma */
    overscroll-behavior: contain; /* Aşırı kaydırmayı engelle */
  }

  body {
    overflow-x: hidden; /* Yatay kaydırmayı engelle */
    touch-action: manipulation; /* Dokunma hareketlerini optimize et */
  }

  /* iOS için özel düzeltme */
  @supports (-webkit-touch-callout: none) {
    html {
      scroll-behavior: auto; /* iOS'ta smooth-scroll'u kapat */
    }
    body {
      -webkit-overflow-scrolling: touch; /* iOS için doğal kaydırma */
      overflow-y: scroll; /* Kaydırmayı aktif tut */
    }
  }

  /* Scrollbar'ı özelleştirme (Sadece Webkit destekler) */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #8c7a65;
  }

  ::-webkit-scrollbar-thumb {
    background: #bfaa90;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a38d72;
  }
}
